@import "tailwindcss";

@theme {
  /* Definice vlastních barev */
  --color-performo-orange: #FF3D00;
  --color-performo-dark: #0f0f0f;

  /* Definice fontu */
  --font-sans: "Inter", sans-serif;
  
  /* Definice stínu */
  --shadow-glow: 0 0 20px rgba(255, 61, 0, 0.5);
}